.MuiDialog-paper {
  max-width: 1200px !important;
  max-height: 100vh;
  margin: 4px !important;
}
// .MuiPaper-root-MuiDialog-paper {
//   max-width: 1200px !important;
//   max-height: none !important;
// }

// .MuiDialog-paper {
//   max-width: 1200px !important;
//   max-height: none !important;
// }

.MuiDialog-paperWidthXs {
  max-width: 1200px;
}
.MuiDialog-paperWidthSm {
  max-width: 1200px;
}
