.owner-wrapper {
  max-width: 500px;
}

.owner-wrapper p {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: justify;
}

.owner-wrapper__about {
  margin-bottom: 1rem !important;
  text-align: center !important;
}
