.container {
  text-align: center;
  min-height: calc(100vh - 4rem);
  width: 100%;
}
.main {
  width: 100%;
}

@media (min-width: 600px) {
  .main {
    width: calc(100% - 4rem);
  }
}
// .panel-page {
//   min-height: 100%;
//   padding: 1rem 0;
//   background-color: aqua;
//   width: 100%;
//   overflow-x: hidden;
// }
